body{
  background-color: black;
  color: white;
}

.viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.parent {
  top: 50%;
  transform: translate(0%, -50%);
  position: absolute;
  border: 1px solid green;
}

.bulet-overlay {
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 10;
}

.stick {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -999;
}

.lampu {
  width: 77vw;
  height: 77vw;
  position: absolute;
  top: 1.2%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 1px solid blue;
  z-index: -10;
}

.bulat {
  background-image: linear-gradient(to right, #fed605, #ff7631, #ff5793);
  filter: blur(1px);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  animation: rotation 2s infinite linear;
  position: absolute;
}
 
.blur {
  filter: blur(30px);
  position: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
