/* Ferdian Ganteng */
body{
  background-color: black;
  color: white;
}

.parent{
  display: flex;
  justify-content: center;
  position: relative;
}

.object{
  width: 100%;
  height: auto;
  margin: 0;
  /* top: 50%; */
  /* transform: translateY(50%); */
}

.a{
  position: absolute;
  width: 100%;
  height: auto;
}

.lampu{
  display: flex;
  justify-content: center;
  position: relative;
  /* left: 4.4rem; */
  top: 2.3rem;
}

.bulat {
  background-image: linear-gradient(to right, #ff5aa3, #ff568b, #ff5772, #ff5d59, #ff6640, #ff7432, #ff8420, #ff9300, #ffa700, #ffbb00, #ffce00, #ffe20f);
  filter: blur(1px);
  border-radius: 50%;
  height: 270px;
  width: 270px;
  animation: rotation 2s infinite linear;
  position: absolute;
}
 
.blur {
  background-image: linear-gradient(to right, #ff5aa3, #ff568b, #ff5772, #ff5d59, #ff6640, #ff7432, #ff8420, #ff9300, #ffa700, #ffbb00, #ffce00, #ffe20f);
  filter: blur(20px);
  border-radius: 50%;
  height: 270px;
  width: 270px;
  animation: rotation 2s infinite linear;
  position: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
